body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  form {
    display: inline-block;
    text-align: left;
  }
  
  #password-output {
    font-size: 2em;
    margin-top: 1em;
  }
  